doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC4tkYrrICQVCsGYBX5EjKKi_b9pN8HLcU')
    block content
